.displayedArticle{
    width: 800px;
    margin: 0 auto;
}
.displayedArticle_subscriptionNotice{
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    width: 75%;
    margin-left: auto;
}
.displayedArticle_subscriptionNotice span{
    text-transform: capitalize;
    color: red;
    font-weight: bold;
}
.displayedArticle h1,
.displayedArticle h2{
    width: 75%;
    margin-left: auto;
}
.displayedArticle h2{
    color: gray;
    font-size: 0.8em;
    font-weight: 500;
}
.displayedArticle_figure{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0
}
.displayedArticle_figure_image{
    width: 600px;
}
.displayedArticle_figure figcaption{
    font-size: 0.6em;
    width: 200px;
    text-align: right;
    margin-right: 15px;
}
.displayedArticle_figure div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}